body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-image: url('imeg/background.gif');
    background-size: cover;
    color: #4E342E;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 239, 213, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.button {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    background: linear-gradient(to right, #FF7F50, #FFD700, #FF4500);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #FF4500, #FFD700, #FF7F50);
}